
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 2rem;
    margin-top: 20px;
}

.lista {
    list-style-type: none;
}

.texth4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}